#about-container {
    position: relative;
    top: 10vh;
    height: 90vh;
    width: 100vw;
    padding: 0 2vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    gap: 2vw;
    overflow: hidden;
}

#about-container h1 {
    height: 32.5vw;
    width: 32.5vw;
    padding: 0 1vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 9.5vw;
    letter-spacing: -0.25vw;
    color: white;
    background: linear-gradient(180deg, coral, crimson);
    box-shadow: 0.25vw 0.25vw 1vw 0.125vw lightslategrey;
    border-radius: 5vw;
    user-select: none;
    line-height: 14vw;
}

#about-container h1 span {
    font-weight: bolder;
    font-size: 20vw;
    letter-spacing: -1vw;
}

#about-container h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vw;
    color: #333;
}

#about-container p {
    height: auto;
    width: 60vw;
    font-size: 2vw;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
}

#about-back {
    right: 0;
    margin: 3vh 0;
    padding: 0vw 0.5vw;
    font-size: 2.25vw;
    color: black;
    background-color: lightgray;
    border: none;
    border-radius: 0.25vw;
    cursor: pointer;
    user-select: none;
}

/* ------------------------Responsive--------------------------- */
@media (max-width:768px) {
    #about-container {
        position: relative;
        top: 10vh;
        height: 100%;
        width: 100%;
        padding: 0 2vw;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2vw;
        /* background-color: aqua; */
    }

    #about-container h1 {
        height: 65vw;
        width: 65vw;
        padding: 0 2vw;
        font-size: 19.5vw;
        border-radius: 7.5vw;
        line-height: 26vw;
    }

    #about-container h1 span {
        font-size: 30vw;
        letter-spacing: -1vw;
    }

    #about-container h2 {
        margin-top: 2vh;
        font-size: 7.5vw;
    }

    #about-container p {
        height: auto;
        width: 100%;
        font-size: 3.75vw;
    }

    #about-back {
        margin-top: 1vh;
        padding: 1vw 1.75vw;
        font-size: 4.5vw;
        color: black;
        background-color: lightgray;
        border: none;
        border-radius: 0.25vw;
        cursor: pointer;
        user-select: none;
    }
}

/* for mobile phones */
@media (max-width:480px) {
    #about-container {
        position: relative;
        top: 10vh;
        height: 100%;
        width: 100%;
        padding: 0 2vw;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        gap: 2vw;
        /* background-color: aqua; */
    }

    #about-container h1 {
        height: 75vw;
        width: 75vw;
        padding: 0 2.5vw;
        font-size: 22.5vw;
        border-radius: 10vw;
        line-height: 30vw;
    }

    #about-container h1 span {
        font-weight: bolder;
        font-size: 40vw;
        letter-spacing: -2vw;
    }

    #about-container h2 {
        margin-top: 2vh;
        font-size: 10vw;
    }

    #about-container p {
        height: auto;
        width: 100%;
        font-size: 4.5vw;
    }

    #about-back {
        margin-top: 1vh;
        padding: 1vw 2.75vw;
        font-size: 5.75vw;
        color: black;
        background-color: lightgray;
        border: none;
        border-radius: 0.25vw;
        cursor: pointer;
        user-select: none;
    }
}